1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Mod Compressor Tool Contributors"
            VALUE "FileDescription", "Windows WOF compression helper"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "mod-compressor-helper"
            VALUE "OriginalFilename", "mod-compressor-helper.exe"
            VALUE "ProductName", "Mod Compressor Tool"
            VALUE "ProductVersion", "0.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
